* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial';
  background: #F5F5F5;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.side-menu {
  width: 248px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  padding: 48px;
}

.side-menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.side-menu .menu {
  display: flex;
  flex-direction: column;
}

.side-menu .menu ul {
  list-style: none;
}

.side-menu .menu ul li {
  display: flex;
  align-items: center;
  margin: 16px 0;
  font-size: 14px;
  font-weight: 600;
  color: #999999;
}

.side-menu .menu ul li .home,
.side-menu .menu ul li .reports,
.side-menu .menu ul li .companies {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background: url('images/icon-home.svg') no-repeat center;
  margin-right: 24px;
}

.side-menu .menu ul li .reports {
  background: url('images/icon-description.svg') no-repeat center;
}

.side-menu .menu ul li .companies {
  background: url('images/icon-chart.svg') no-repeat center;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 48px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
}

.search .field {
  display: inline-flex;
  flex: 1;
  border: none;
  height: 56px;
  padding: 30px;
  font-size: 14px;
}

.search .btn {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border: none;
  background: url('images/icon-search.svg') no-repeat center;
  background-size: contain;
  margin: 0 25px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.nav-links {
  flex: 1;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  padding: 24px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 8px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: #E7E7E7;
  font-weight: 600;
}

.companies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 136px;
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 10px 0;
  position: relative;
}

.card .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;

}

.card .info {
  display: flex;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #dedede;
  padding: 10px 0;
}

.card .info .ticker {
  font-size: 14px;
  font-weight: 800;
  margin-right: 10px;
}

.card .info .name {
  font-size: 12px;
  font-weight: 500;
}

.card .hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E7E7E7;
  border-radius: 8px;
  opacity: 0;
  transition: 0.2s all;
}

.card:hover .hover {
  opacity: 1;
}

.card .hover .list {
  display: flex;
  flex-direction: column;
}

.card .hover .list li {
  display: flex;
  padding: 10px;
  color: #999999;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.card .hover .list li span {
  font-size: 12px;
  font-weight: 700;
  color: #4B4B4B;
  margin-left: auto;
}

.card .hover .vies {
  padding: 12px;
}

.card .hover .vies .status {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #008A00;
}

.card .hover .vies .legend {
  font-weight: 500;
  font-size: 12px;
  color: #999999;
}

.side-profile {
  width: 356px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  padding: 48px;
}

.side-profile .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-profile .name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.side-profile .info {
  display: flex;
  justify-content: center;
  cursor: pointer;
}